<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.1.1 copyright 2007-2010, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>XAccessorHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>${ProductIdentifier}.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.script-factory.XAccessor</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2007-2020, Kurita Tetsuro</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>450</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>492</real>
		<key>savedFrame</key>
		<string>161 183 749 694 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>result</string>
	</dict>
</dict>
</plist>
